@page "/multiple-components"

<TitleText>
  Multiple Components
</TitleText>

<FluentCard>
  <div class="flex">
    <div class="mr-5">
      <PayrollSearch/>
    </div>
    <div>
      <HrFilesSearch/>
    </div>
  </div>
</FluentCard>