﻿@page "/eventcallback";

<TitleText>EventCallback</TitleText>

<FluentCard>
  <h2 class="text-2xl mb-5">Order Management Application</h2>

  <div class="flex gap-2">

    <OrderList @bind-SelectedOrder="_selectedOrder" Orders="_orders"></OrderList>

    <OrderDetails Details="_selectedOrder"></OrderDetails>
  </div>

</FluentCard>

@code {

  static readonly List<Order> O = new()
  {
    new Order("123", "Oasis Digital", new List<Item>
    {
      new(3, "Widgets"),
      new(2, "Thingamabobs"),
      new(6, "Doodads")
    }),
    new Order("456", "John", new List<Item>
    {
      new(1, "Sprocket")
    })
  };

  readonly List<Order> _orders = O;

  Order _selectedOrder = O[0];
}