﻿<FluentCard>
  <h3 class="text-xl">OrderDetails</h3>
  @if (Details is null)
  {
    <div>Please select an order</div>
  }
  else
  {
    <ul>
      @foreach (var item in Details.Items)
      {
        <li>@item.Description</li>
      }
    </ul>
  }
</FluentCard>

@code {

  [Parameter]
  public Order? Details { get; set; }

}