﻿<FluentCard>

  <h3 class="text-xl">Order List</h3>
  @if (Orders != null)
  {
    <ul>
      @foreach (var order in Orders)
      {
        <li>
          <FluentButton Appearance="Appearance.Outline" @onclick="@(() => SelectOrder(order))">
            @order.Id : @order.Customer
          </FluentButton>
        </li>
      }

    </ul>
  }


</FluentCard>

@code {

  [Parameter]
  public List<Order>? Orders { get; set; }

  [Parameter]
  public Order? SelectedOrder { get; set; }

  [Parameter]
  public EventCallback<Order> SelectedOrderChanged { get; set; }

  Task SelectOrder(Order newOrder)
  {
    SelectedOrder = newOrder;
    return SelectedOrderChanged.InvokeAsync(SelectedOrder);
  }

}