@using BootCampSteps.Pages._100_my_first_blazor_app
@using TestContext = Bunit.TestContext
@attribute [TestClass]

@code
{
  [TestMethod]
  public void HelloWorldComponentRendersCorrectly()
  {
  // Arrange
    using var ctx = new TestContext();

  // Act
    var cut = ctx.Render(@<HelloWorld/>);

  // Assert
    cut.MarkupMatches(@<h1>Hello World</h1>);
  }
}