@page "/forms";
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

<TitleText>Forms</TitleText>

<FluentCard>
  <EditForm Model="@Form" Context="FormContext" class="flex gap-5">
    <DataAnnotationsValidator />

    <section class="flex flex-col gap-5">

      <h2 class="text-2xl">New Employee</h2>

      <FluentTextField Name="FirstName" @bind-Value="Form.FirstName">
        First Name
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.FirstName" />
      </p>

      <FluentTextField Name="LastName" @bind-Value="Form.LastName">
        Last Name
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.LastName" />
      </p>

      <FluentTextField Name="MiddleInitial" @bind-Value="Form.MiddleInitial">
        Middle Initial
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.MiddleInitial" />
      </p>

      <FluentTextField Name="Position" @bind-Value="Form.Position">
        Position
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.Position" />
      </p>

      <label for="Department">Department</label>
      <FluentSelect Name="Department" @bind-Value="Form.Department">
        <FluentOption Value="One">One</FluentOption>
        <FluentOption Value="Two">Two</FluentOption>
        <FluentOption Value="Three">Three</FluentOption>
      </FluentSelect>
      <p>
        <ValidationMessage For="() => Form.Department" />
      </p>

      <p>
        <ValidationMessage For="() => Form.ImmediateSupervisor" />
      </p>

      <FluentTextField Name="PhoneNumber" @bind-Value="Form.PhoneNumber">
        Phone
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.PhoneNumber" />
      </p>

      <FluentTextField Name="Email" @bind-Value="Form.Email">
        Email
      </FluentTextField>
      <p>
        <ValidationMessage For="() => Form.Email" />
      </p>

      <label for="Status">Status</label>
      <FluentRadioGroup Name="Status" @bind-Value="Form.Status"
                        Orientation="Orientation.Vertical">
        <FluentRadio Value="Active">Active</FluentRadio>
        <FluentRadio Value="Inactive">Inactive</FluentRadio>
      </FluentRadioGroup>

      <label for="ImmediateSupervisor">Supervisor</label>
      <InputText class="border-solid border-black border" type="text" Name="ImmediateSupervisor" @bind-Value="Form.ImmediateSupervisor"/>

      <FluentButton @onclick="SaveEmployeeDetails" type="submit" >SAVE</FluentButton>
    </section>

    <section>
      <h2 class="text-2xl">Form Value Object</h2>
      <pre>@PrettyPrintForm()</pre>
    </section>

    <section>
      <h2 class="text-2xl">Form Validity</h2>
      <ValidationSummary />
    </section>

  </EditForm>
</FluentCard>

<style>
  .invalid {
    background: red;
  }
</style>


@code {
  [Parameter]
  public FormModel Form { get; set; } = new FormModel()
    {
      FirstName = "",
      LastName = "",
      MiddleInitial = "",
      Position = "Sales",
      Department = "",
      ImmediateSupervisor = "",
      PhoneNumber = "",
      Email = "",
      Status = "Active"
    };
  string[] _departments = { "HR", "Payroll" };

  public void SaveEmployeeDetails()
  {
    Console.WriteLine($"Form Submitted {PrettyPrintForm()}");
  }

  public void LogTheForm()
  {
    Console.WriteLine($"Form: {Form}");
  }

  public string PrettyPrintForm()
  {
    return JsonSerializer.Serialize(Form, new JsonSerializerOptions()
      {
        WriteIndented = true
      });
  }

  public class FormModel
  {
    [Required]
    public string? FirstName { get; set; }

    [Required]
    public string? LastName { get; set; }

    [MaxLength(1)]
    public string? MiddleInitial { get; set; }

    [MinLength(3)]
    public string? Position { get; set; }

    [MaxLength(3)]
    public string? Department { get; set; }

    [Required]
    public string? ImmediateSupervisor { get; set; }

    [Phone]
    public string? PhoneNumber { get; set; }

    [Required]
    [EmailAddress]
    public string? Email { get; set; }

    [Required]
    public string? Status { get; set; }
  }
}