@page "/event-handling"

<TitleText>
  Event Handling
</TitleText>

<FluentCard class="flex">
  <div class="mr-5">
    <h5>
      Time Clock
    </h5>
    <p>Hello, @Name</p>
    <p>
      <strong>@_message</strong>
    </p>
    <p>
      Managers, don't forget to hold shift while clocking in
    </p>
    <FluentButton Appearance="Appearance.Accent" @onclick="ClockIn">Clock In</FluentButton>
    <FluentButton Appearance="Appearance.Outline" @onclick="ClockOut">Clock Out</FluentButton>
  </div>
  <div>
    <h5>
      Upcoming Schedule
    </h5>
    <div class="time-block" @onmouseout="ClearSchedule">
      <div class="day-0" @onmouseover="@(() => ShowSchedule('M'))">M</div>
      <div class="day-1" @onmouseover="@(() => ShowSchedule('T'))">T</div>
      <div class="day-2" @onmouseover="@(() => ShowSchedule('W'))">W</div>
      <div class="day-3" @onmouseover="@(() => ShowSchedule('R'))">R</div>
      <div class="day-4" @onmouseover="@(() => ShowSchedule('F'))">F</div>
    </div>
    <div>
      @_currentSchedule
    </div>
  </div>
</FluentCard>

@code {
    const string Name = "John Doe";
  string _message = "Please Clock In";
  string _currentSchedule = "";
  readonly Dictionary<char, string> _scheduleMap = new();

  protected override void OnInitialized()
  {
    _scheduleMap.Add('M', "9:00 - 5:00");
    _scheduleMap.Add('T', "9:00 - 4:30");
    _scheduleMap.Add('W', "9:00 - 3:00");
    _scheduleMap.Add('R', "9:00 - 3:30");
    _scheduleMap.Add('F', "9:00 - 5:00");
  }

  void ClockIn(MouseEventArgs e)
  {
    _message = e.ShiftKey ? "Clocked in as manager!" : "Clocked in as employee";
  }

  void ClockOut()
  {
    _message = "Have a great day!";
  }

  void ShowSchedule(char day)
  {
    _currentSchedule = _scheduleMap[day];
  }

  void ClearSchedule()
  {
    _currentSchedule = "";
  }

}

<style>
  .time-block { margin: 20px; }

  .time-block div {
    background-color: #eaeaea;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 25px;
  }

  .day-0 { height: 80px; }

  .day-1 { height: 75px; }

  .day-2 { height: 60px; }

  .day-3 { height: 65px; }

  .day-4 { height: 80px; }
</style>