﻿<FluentButton @attributes="AdditionalAttributes" Appearance="Appearance.Outline">
  <div class="flex gap-2">
    <i class="ms-Icon ms-Icon--@(IconName)"></i>
    @ChildContent
  </div>
</FluentButton>

@code {

  [Parameter]
  public string IconName { get; set; }

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public IDictionary<string, object> AdditionalAttributes { get; set; }

}