﻿<div class="grid grid-flow-row auto-rows-max">

  <TopNav/>
  <div class="flex pl-10 body-content">

    <SideNav NavLinks="Links"></SideNav>
    <main class="px-10 pb-10 w-full overflow-y-auto">
      @Body
    </main>
  </div>

</div>

@code {

  [Parameter]
  public RenderFragment Body { get; set; }

  [Parameter]
  public List<NavItem> Links { get; set; }

}