﻿<ul class="sticky adjusted-auto top-0 overflow-auto overscroll-contain pr-7 pt-10">
  @foreach (var link in NavLinks)
  {
    <li class="hover:underline">
      <NavLink class="active:text-blue-500 hover:bg-gray-50 h-12 rounded-sm px-6 w-full flex items-center rounded-sm"
               Href="@link.url">
        @link.display
      </NavLink>
    </li>
  }
</ul>

@code {

  [Parameter]
  public List<NavItem> NavLinks { get; set; }

  [Parameter]
  public string SelectedLink { get; set; }

}