﻿.adjusted-auto {
    height: calc(100vh - 6rem)
}

fluent-card {
    background-color: white;
    padding: 35px;
    height: auto;
    width: fit-content;
    position: relative;
}

a.active {
    background-color: #f3f2f1;
}

main {
    background-color: #faf9f8;
}
