﻿@page "/component-hierarchy"

<TitleText>
  Component Hierarchy
</TitleText>

<FluentCard>
  <CallOut>Email Viewer</CallOut>

  <div class="flex">
    <FolderList class="mr-10 flex-none"></FolderList>
    <MessageDisplay></MessageDisplay>
  </div>
</FluentCard>