﻿<FluentCard @attributes="AdditionalAttributes">
  <CallOut>Folder List</CallOut>

  <FolderItem></FolderItem>
  <FolderItem></FolderItem>
  <FolderItem></FolderItem>
  <FolderItem></FolderItem>
  <FolderItem></FolderItem>
  <FolderItem></FolderItem>
  <FolderItem></FolderItem>

</FluentCard>

@code {

  [Parameter(CaptureUnmatchedValues = true)]
  public IDictionary<string, object>? AdditionalAttributes { get; set; }

}