﻿<FluentCard @attributes="AdditionalAttributes">
  <CallOut>Message Body</CallOut>
  <p>Hey Peter,</p>

  <p>
    I noticed that Susan is up for review. Can you please pull her
    TPS reports and run them up to my office? Also, I am going on
    vacation next week so if you could water my plants for me that
    would be great.
  </p>

  <p>
    Oh, and I'm going to need you to come in on Saturday. Mmmkay?
    Thanks.
  </p>
</FluentCard>

@code{

  [Parameter(CaptureUnmatchedValues = true)]
  public IDictionary<string, object>? AdditionalAttributes { get; set; }

}