<table>
  <thead>
    <tr>
      @foreach (var header in _headers)
      {
        <td>
          <EmployeeListHeader PropertyName="@header.PropertyName"
                            Display="@header.Display"
                            SortBy="@SortBy"
                            SortDirection="@SortDirection"
                            OnClickCallback="HeaderClicked">
          </EmployeeListHeader>
        </td>
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Employees)
    {
      <tr>
        <td>
          @employee.FirstName
        </td>
        <td>
          @employee.LastName
        </td>
        <td>@employee.HoursWorked</td>
        <td>@employee.HourlyWage</td>
      </tr>
    }
  </tbody>
</table>

@code {
  [Parameter]
  public ICollection<Employee> Employees { get; set; } = new Employee[] { };

  [Parameter]
  public string SortBy { get; set; } = "";

  [Parameter]
  public EventCallback<string> SortByChanged { get; set; }

  [Parameter]
  public string SortDirection { get; set; } = "asc";

  [Parameter]
  public EventCallback<string> SortDirectionChanged { get; set; }

  List<HeaderItem> _headers = new()
    {
      new HeaderItem("firstName", "First Name"),
      new HeaderItem("lastName", "Last Name"),
      new HeaderItem("hoursWorked", "Hours Worked"),
      new HeaderItem("hourlyWage", "Hourly Wage")
    };

  public record HeaderItem(string PropertyName, string Display);

  async Task HeaderClicked(string sortBy)
  {
    if (SortBy == sortBy)
    {
      var newDirection = SortDirection == "asc" ? "desc" : "asc";
      await SortDirectionChanged.InvokeAsync(newDirection);
    }
    else
    {
      await SortByChanged.InvokeAsync(sortBy);
    }
  }

}