<FluentTextField Name="FilterTerm"
                 value="@FilterText"
                 @oninput="FilterChanged">
  Filter Term
</FluentTextField>

@code {
  [Parameter]
  public string FilterText { get; set; } = "";

  [Parameter]
  public EventCallback<string> FilterTextChanged { get; set; }

  public async void FilterChanged(ChangeEventArgs args)
  {
    var newFilterText = args?.Value?.ToString();
    await FilterTextChanged.InvokeAsync(newFilterText);
  }
}