<div class="cursor-pointer flex gap-2 "
     @onclick="() => OnClickCallback.InvokeAsync(PropertyName)">
  @Display
  @if (SortBy == PropertyName)
  {
    <i class="ms-Icon ms-Icon--@(SortDirection == "asc" ? "ChevronUp" : "ChevronDown")"></i>
  }
</div>

@code {
  [Parameter]
  public string PropertyName { get; set; } = "";

  [Parameter]
  public string Display { get; set; } = "";

  [Parameter]
  public string SortBy { get; set; } = "";

  [Parameter]
  public string SortDirection { get; set; } = "";

  [Parameter]
  public EventCallback<string> OnClickCallback { get; set; }
}