@page "/query-params";
@using Microsoft.AspNetCore.WebUtilities
@using System.Web
@inject IEmployeeLoader _employeeLoader
@inject NavigationManager NavManager

<TitleText>Query Params</TitleText>

<FluentCard>
  <EmployeeFilter FilterText="@Filter"
                  FilterTextChanged="@((string FilterTerm) => UpdateUrl("filter", FilterTerm))">
  </EmployeeFilter>
  <EmployeeList Employees="_employees"
                SortBy="@SortBy"
                SortByChanged="@((string SB) => UpdateUrl("sortby", SB))"
                SortDirection="@SortDirection"
                SortDirectionChanged="@((string SD) => UpdateUrl("sortdirection", SD))">
  </EmployeeList>
</FluentCard>

@code {
  string? Filter { get; set; } = "";
  string? SortBy { get; set; } = "";
  string? SortDirection { get; set; } = "";

  List<Employee> _employees { get; set; } = new(){ } ;

  void UpdateUrl(string paramName, string paramValue)
  {
    NavManager.ChangeUrl(paramName, paramValue);
  }

  protected override async Task OnInitializedAsync()
  {
    _employees = await GetFilteredSortedEmployees();
    NavManager.LocationChanged += HandleLocationChanged;
  }

  async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
  {
    _employees = await GetFilteredSortedEmployees();
    StateHasChanged();
  }

  async Task<List<Employee>> GetFilteredSortedEmployees()
  {
    Filter = NavManager.TryGetQueryString<string>("filter");
    SortBy = NavManager.TryGetQueryString<string>("sortby");
    SortDirection = NavManager.TryGetQueryString<string>("sortdirection");

    var query = new Dictionary<string, string?>
      {
        ["_sort"] = SortBy,
        ["_order"] = SortDirection,
        ["q"] = Filter
      };
    var paramDictionary = ((IEnumerable<KeyValuePair<string, string>>)query.Where(kv => kv.Value != null))
      .ToDictionary(kv => kv.Key, kv => kv.Value);

    return (await _employeeLoader.GetEmployees(paramDictionary)).ToList();
  }
 }