﻿@import "../../ODSIFluentStandins/Styles/Styles";

body {
  margin: 0px;
  overflow: hidden;
}

.body-content {
  height: calc(100vh - 56px);
}
// Example specific CSS below

.surface {
  margin: 10px;
  padding: 10px;
}

.bar.bonus {
  background-color: green;
}

.bar.fired {
  background-color: red;
}

.bar {
  height: 10px;
  background-color: #2f49cb;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.stripe {
  background-color: gainsboro;
}

.region-label {
  font-weight: normal;
}

.region-Eastern {
  background-color: #4ac4e2;
}

.region-Central {
  background-color: #d07382;
}

.region-Western {
  background-color: #f4ef6a;
}

.employee-name {
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding-left: 15px;
  padding-right: 15px;
}

.employee-column {
  width: 25%;

}

.units-column,
.revenue-column {
  width: 37.5%;
}

.big-link {
  color: currentcolor;
  font-weight: bold;
}

.offerings strong {
  color: rgb(203, 36, 46); /* dark red from ABC logo text */
  font-weight: bold;
}

.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-bottom: 2rem;
  color: rgba(38, 35, 31, 0.7);
  font-size: 1.5rem;
  white-space: nowrap;
}

.banner img {
  /* Keep the SVGs from shrinking to 0x0. */
  width: 100%;
}

.banner p {
  margin: 1rem;
}

.offerings {
  /* Use columns instead of a grid, so columns automatically stay
   * balanced without having to artificially divide the markup into
   * separate grid items.
   */
  column-count: 2;
  column-gap: 2rem;
}

.offerings p {
  margin-top: 0;
}

.call-to-action {
  display: grid;
  place-items: center;
  font-size: 2rem;
  /* Keep text centered even if it wraps. */
  text-align: center;
}

/* Switch to a single-column view for narrow viewports. */
@media (max-width: 700px) {
  .banner {
    grid-template-columns: 1fr;
  }

  .banner p {
    margin-top: 0;
  }

  .offerings {
    column-count: 1;
  }
}

iframe {
  display: block;
  border: 0;
}

.events {
  display: grid;
  place-items: center;
}
