﻿@inherits LayoutComponentBase

<NavContainer Links="_links">

  <Body>@Body</Body>
</NavContainer>

@code
{
  readonly List<NavItem> _links = new()
  {
    new NavItem("/hello-world", "100 - Hello World"),
    new NavItem("/razor-syntax", " 101 - Razor Syntax"),
    new NavItem("/event-handling", " 102 - Event Handling"),
    new NavItem("/multiple-components", " 103 - Multiple components"),
    new NavItem("/class-libraries", "104 - Class libraries"),
    new NavItem("/root/sub", "105 - routing"),
    new NavItem("/component-hierarchy", "201- Component hierarchy"),
    new NavItem("/control-structures/dashboard", "202 - Control Structures"),
    new NavItem("/explicit-expressions", "203 - Explicit Expressions"),
    new NavItem("/class-and-style-bindings", "205 - Class and style bindings"),
    new NavItem("/component-parameters", "207 - Component Parameters"),
    new NavItem("/eventcallback", " 208 - EventCallback "),
    new NavItem("/injection", "300 - Injection and Http"),
    new NavItem("/js-interop", "400 - JS Interop"),
    new NavItem("/forms", "401 - Forms"),
    new NavItem("/route-params", "501 - Route Parameters"),
    new NavItem("/query-params", "503 - Query Parameters")
  };
}
