﻿@page "/js-interop"
@inject IJSRuntime JS

<TitleText>JS Interop</TitleText>

<FluentCard>
  <h2 class="text-2xl">Blazor Webcam</h2>

  <div class="flex">

    <section>
      <h3 class="text-xl">Live Feed</h3>
      <video id="videoFeed" width="320" height="240" />
    </section>

    <section>
      <h3 class="text-xl">Captured Image</h3>
      <canvas class="hidden" id="currentFrame" width="320" height="240" />
      @if (!string.IsNullOrEmpty(frameUri))
      {
        <img src="@frameUri" />
      }
    </section>
  </div>
  <FluentButton @onclick="CaptureFrame">Capture Frame</FluentButton>
</FluentCard>
@code {
  string? frameUri;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    string param = "videoFeed";
    await JS.InvokeVoidAsync("startVideo", param);
  }

  private async Task CaptureFrame()
  {
    await JS.InvokeAsync<String>("getFrame", "videoFeed", "currentFrame", DotNetObjectReference.Create(this));
  }

  [JSInvokable]
  public void ProcessImage(string imageString)
  {
    frameUri = imageString;
    byte[] imageData = Convert.FromBase64String(imageString.Substring(imageString.LastIndexOf(',') + 1));

    //Do image processing here
  }
}
