﻿@page "/"
@using BootCampSteps
@namespace BlazorBootCamp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html class="h-screen" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlazorBootCamp</title>
  <link href="/_content/BootCampSteps/css/Index.css" rel="stylesheet" />
  <link rel="stylesheet"
        href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
  <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/@@fluentui/web-components"></script>
  <base href="/" />
</head>

<body class="ms-Fabric" dir="ltr">
  <fluent-design-system-provider use-defaults>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
  </fluent-design-system-provider>
  <script src="_framework/blazor.server.js"></script>
  <script src="./_content/BootCampSteps/webcam.js"></script>
</body>

</html>