﻿@page "/explicit-expressions"

<TitleText>
  Explicit Expressions
</TitleText>
<h2 class="text-2xl">
  Sales Report: @_reportDate.ToString("MMM dd, yyyy")
</h2>
<FluentCard class="mb-5">
  <FluentDataGrid RowsData="_records" ColumnDefinitions="_columnsGrid1" GridTemplateColumns="1fr 1fr 1fr 1fr">
    <HeaderCellTemplate>
      <div class="@(context.Title == "Name" ? "" : "float-right")">@context.Title</div>
    </HeaderCellTemplate>

    <RowItemTemplate>
      <FluentDataGridRow TItem="SalesRecord">
        <FluentDataGridCell GridColumn="1">@context.EmpName</FluentDataGridCell>
        <FluentDataGridCell GridColumn="2">
          <div class="float-right">@context.Units.ToString("F4")</div>
        </FluentDataGridCell>
        <FluentDataGridCell GridColumn="3">
          <div class="float-right">@context.TotalRevenue.ToString("C")</div>
        </FluentDataGridCell>
        <FluentDataGridCell GridColumn="4">
          <div class="float-right">@((context.Percent / 100).ToString("P"))</div>
        </FluentDataGridCell>
      </FluentDataGridRow>
    </RowItemTemplate>
  </FluentDataGrid>
</FluentCard>

@code {
  readonly DateTime _reportDate = new(2058, 12, 25);

  record SalesRecord(string EmpName, double Units, double TotalRevenue, double Percent);

  readonly List<ColumnDefinition<SalesRecord>> _columnsGrid1 = new();

  readonly List<SalesRecord> _records = new()
  {
    new SalesRecord("Cynthia Cunningham", 75.29879815, 46739.8278, 0.0266),
    new SalesRecord("Peter Clark", 100, 8675.309, 0.0049),
    new SalesRecord("Theresa Soto", 10.89, 67439820.3498, 38.4300),
    new SalesRecord("Russell Fisher", 0.3892, 5789230.9843, 3.2989),
    new SalesRecord("Elizabeth Hudson", 89.2979879, 789709.834098, 0.4500),
    new SalesRecord("Heather Spencer", 148098, 9879873.40598, 5.6300),
    new SalesRecord("Barbara Tran", 1038.6829, 90855398.2987, 51.7731),
    new SalesRecord("Julia Anderson", 83928.593, 678098.979998, 0.3864)
  };

  protected override void OnInitialized()
  {
    _columnsGrid1.Add(new ColumnDefinition<SalesRecord>("Name", x => x.EmpName));
    _columnsGrid1.Add(new ColumnDefinition<SalesRecord>("Units Sold (millions)", x => x.Units));
    _columnsGrid1.Add(new ColumnDefinition<SalesRecord>("Total", x => x.TotalRevenue));
    _columnsGrid1.Add(new ColumnDefinition<SalesRecord>("%", x => x.Percent));
  }

}