﻿@page "/injection";
@inject IEmployeeLoader _employeeLoader

<TitleText>Injection and Http</TitleText>

<FluentCard>
  <h2 class="text-2xl">Employees</h2>
  <ul>
    <Virtualize Items="@_employeeList" Context="employee">
      <li class="collection-item">
        @employee.FirstName
      </li>
    </Virtualize>
  </ul>
</FluentCard>

@code {
  ICollection<Employee> _employeeList = new Employee[] {};

  protected override async Task OnInitializedAsync()
  {
    _employeeList = (await _employeeLoader.GetEmployees()).ToList();
  }

}