﻿@page "/class-libraries"

<TitleText>
  Class Libraries
</TitleText>

<FluentCard>
  <div class="flex">
    <div class="mr-5">
      <PayrollSearch/>
    </div>
    <div>
      <HrSearch/>
    </div>
  </div>
</FluentCard>