@page "/razor-syntax"

<TitleText>
  Razor Syntax
</TitleText>

<FluentCard>
  <p>Hello, @EmployeeName</p>

  <p>
    Days until next vacation: <strong>@NextVacation </strong>
  </p>

  <img src="@Employee.Picture " alt="@Employee.Name "/>
</FluentCard>

@code {
    const string EmployeeName = "John Doe";
    const int NextVacation = 365 - 32;

  readonly Employee _employeeOfTheWeek = new();


  class Employee
  {
    public const string Name = "Jane Smith";
    public const string Picture = "_content/BootCampSteps/assets/avatar.png";
  }

}