﻿@page "/control-structures/dashboard"

<TitleText>
  Control Structures
</TitleText>

<FluentCard class="grid grid-cols-2 gap-6">
  <FluentCard>
    <h2 class="text-2xl">
      Profile
    </h2>
    @if (_showProfile)
    {
      <div>
        Phone number: 555-123-1345 <br/>
        Email address: test@abccompany.com <br/>
        Address: 1 Main Street, St. Louis, MO 63105 <br/>
      </div>
    }
    <FluentButton Appearance="Appearance.Outline" @onclick="@(() => _showProfile = !_showProfile)">@(_showProfile ? "Hide" : "Show")</FluentButton>
  </FluentCard>
  <FluentCard>
    <h2 class="text-2xl">Todo List</h2>
    <ul>
      @* Virtualize does not create a DOM element. UL warning is not applicable *@
      @* ReSharper disable once UlTagContainsNonLiElements *@
      <Virtualize Items="@_todos" Context="todo">
        <li>
          @todo
        </li>
      </Virtualize>
    </ul>
    <IconButton IconName="Add" @onclick="AddTodo"> Add Item </IconButton>
  </FluentCard>
  <FluentCard>
    <h2 class="text-2xl">Upcoming Meetings</h2>
    <ul>
      @for (var x = 0; x < _meetings.Count; x++)
      {
        <li>@(x + 1): @_meetings[x].Description</li>
      }
    </ul>
  </FluentCard>
  <FluentCard>
    <h2 class="text-2xl">Who is in Meetings</h2>
    <ul>
      @foreach (var (description, participants) in _meetings)
      {
        <li>
          @description:
          @foreach (var participant in participants)
          {
            <span>&nbsp;@participant&nbsp;</span>
          }
        </li>
      }
    </ul>
  </FluentCard>
</FluentCard>

@code {
  bool _showProfile = true;
  int _count = 3;

  readonly List<string> _todos = new()
  {
    "Attach cover letter to TPS report",
    "Double check decimal places",
    "Jump to conclusions"
  };

  void AddTodo()
  {
    _count++;
    _todos.Add("New Entry: " + _count);
  }

  record Meeting(string Description, List<string> Participants);

  readonly List<Meeting> _meetings = new()
  {
    new Meeting("Standup", new List<string> {"John", "Paul", "Ringo", "George"}),
    new Meeting("Meet with the Bills", new List<string> {"Bill", "Bill", "Peter"}),
    new Meeting("Working Lunch", new List<string> {"Joe", "Jane"})
  };

  readonly List<dynamic> _meetingsCopy = new()
  {
    new {Description = "Standup", Participants = new List<string> {"John", "Paul", "Ringo", "George"}},
    new {Description = "Meet with the Bills", Participants = new List<string> {"Bill", "Bill", "Peter"}},
    new {Description = "Working Lunch", Participants = new List<string> {"Joe", "Jane"}}
  };

}