﻿<FluentCard>

  <h3 class="text-xl mb-5">OrderList</h3>
  @if (Orders != null)
  {
    <ul >
      @foreach (var order in Orders)
      {
        <li class="mb-2">@order.Id : @order.Customer</li>
      }
    </ul>
  }

</FluentCard>

@code {

  [Parameter]
  public List<Order>? Orders { get; set; }

}