﻿@page "/component-parameters";

<TitleText>Component Parameters</TitleText>

<FluentCard>
  <h2 class="text-2xl mb-5">Order Management Application</h2>

  <div class="flex flex-col gap-4">

    <div class="flex gap-2">
      <FluentButton Appearance="Appearance.Outline" @onclick="@(() => Choose(0))">
        Choose First Order
      </FluentButton>
      <FluentButton Appearance="Appearance.Outline" @onclick="@(() => Choose(1))">
        Choose Second Order
      </FluentButton>
    </div>

    <div class="flex gap-2">
      <OrderList Orders="_orders"></OrderList>
      <OrderDetails Details="_selectedOrder"></OrderDetails>
    </div>
  </div>

</FluentCard>

@code {

  static readonly List<Order> O = new()
  {
    new Order("123", "Oasis Digital", new List<Item>
    {
      new(3, "Widgets"),
      new(2, "Thingamabobs"),
      new(6, "Doodads")
    }),
    new Order("456", "John", new List<Item>
    {
      new(1, "Sprocket")
    })
  };

  readonly List<Order> _orders = O;

  Order? _selectedOrder;


  void Choose(int index)
  {
    _selectedOrder = _orders[index];
  }

}