﻿@page "/class-and-style-bindings"

<TitleText>
  Class and Style Bindings
</TitleText>
<FluentCard>
  <h2 class="text-2xl mb-5">
    Financial Report
  </h2>
  <table>
    <thead>
    <tr>
      <th class="employee-column">Name</th>
      <th class="units-column">Units Sold (millions)</th>
      <th class="revenue-column">Total</th>
    </tr>
    </thead>

    @foreach (var (regionName, salesRecords) in _regionInfo)
    {
      <tbody>
      <tr>
        <th class="region-label">@regionName</th>
      </tr>
      @foreach (var record in salesRecords)
      {
        <tr>
          <td class="employee-name @(record.Rank == 1 ? "bonus" : "") @(record.Rank >= 7 ? "fired" : "") @RegionClass(regionName)">
            @record.EmpName
          </td>
          <td>
            <div class="bar @(record.Rank == 1 ? "bonus" : "") @(record.Rank >= 7 ? "fired" : "")"
                 style="width: @(record.Units * UnitsScale + "%")">
            </div>
          </td>
          <td>
            <div class="bar @(record.Rank == 1 ? "bonus" : "") @(record.Rank >= 7 ? "fired" : "")"
                 style="width: @(record.TotalRevenue * RevenueScale + "%")">
            </div>
          </td>
        </tr>
      }
      </tbody>
    }
  </table>
</FluentCard>

@code {
    const double UnitsScale = 100.0 / 10000;
    const double RevenueScale = 100.0 / 50000000;

  record SalesRecord(string EmpName, double Units, double TotalRevenue, int Rank);

  record RegionRecord(string RegionName, List<SalesRecord> SalesRecords);

  readonly List<RegionRecord> _regionInfo = new()
  {
    new RegionRecord("Central", new List<SalesRecord>
    {
      new("Cynthia Cunningham", 4575.29879815, 7746739.8278, 7),
      new("Peter Clark", 1030, 6448675.308, 8),
      new("Theresa Soto", 8669.89, 37439820.3498, 2)
    }),
    new RegionRecord("Western", new List<SalesRecord>
    {
      new("Barbara Tran", 3038.6829, 49955398.2987, 1),
      new("Julia Anderson", 3928.593, 8678098.979998, 6)
    }),
    new RegionRecord("Eastern", new List<SalesRecord>
    {
      new("Russell Fisher", 4565.3892, 15789230.9843, 4),
      new("Elizabeth Hudson", 1589.2979879, 9789709.834098, 5)
    })
  };


  static string RegionClass(string regionName)
  {
    return "region-" + regionName;
  }

}