@page "/route-params";

<TitleText>Router Params</TitleText>

<FluentCard>

  <h2 class="text-2xl">Select Employee</h2>

  <ul>
    @foreach (var employee in _employees)
    {
      var employeeLink = $"route-params/{employee.Id}";

      <li class="hover:underline">
        <NavLink href="@employeeLink" class="@ClassList">
          @employee.FirstName
        </NavLink>
      </li>
    }
  </ul>

</FluentCard>

@code {
  Employee[] _employees = new Employee[] {
        new Employee() {FirstName="Henry", Id="1"},
        new Employee() {FirstName="Harold", Id="2"}
    };

  string ClassList = "active:text-blue-500 hover:bg-gray-50 h-12 rounded-sm px-6 w-full flex items-center rounded-sm";

  public class Employee
  {
    public string? Id { get; set; }
    public string? FirstName { get; set; }
  }
}
