@page "/route-params/{id}";
@using System.Text.Json;
@inject IEmployeeLoader _employeeLoader

<TitleText>Employee Details</TitleText>

<FluentCard>
  <h2 class="text-2xl">Employee #@Id</h2>
  @EmployeeDetails?.FirstName
</FluentCard>

@code {
  [Parameter]
  public string? Id { get; set; }

  private Employee? EmployeeDetails;

  protected override void OnInitialized()
  {
    Console.WriteLine("Creating new instance of EmployeeDetail component");
  }

  protected override async Task OnParametersSetAsync()
  {
    Console.WriteLine($"Got new value for param {Id}");
    EmployeeDetails = await _employeeLoader.GetEmployee(Id);
  }
}